<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página principal</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <h1>Lista De Tareas</h1>
    
    {% if e | length == 0 %}
        <h1>Sin datos</h1>
    {% else %}
        <div>
            <table>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                </tr>
                {% for key in e %}
                <tr>
                    <td>{{key[0]}}</td>
                    <td>{{key[1]}}</td>
                    <td>{{key[2]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <div><a href="./task.html">Agregar</a></div>
    
</body>
</html>