<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página principal</title>
</head>
<body>
    <h1>Aquí va la página principal</h1>
    {% if e | length == 0 %}
        <p>Sin datos</p>
    {% else %}
        <table>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
            </tr>
            {% for key in e %}
            <tr>
                <td>{{key[0]}}</td>
                <td>{{key[1]}}</td>
                <td>{{key[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="./task.html">Agregar</a>
</body>
</html>