<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestor de tareas</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <h1>Mis tareas</h1>
    <form action="/task.html" method="post">
        <input type="text" name="title" placeholder="Título">
        <input type="text" name="desc" placeholder="Descripcion">
        <input type="date" name="date"><br/>
        <input type="submit" value="Enviar" method="post">
    </form>
</body>
</html>